DATABASE_URL="postgresql://<USER>:<PASSWORD>@<HOST>:5432/<DATABASE>?schema=public"
REDIS_URL="redis://localhost:6379"
DATASET_STORAGE_ROOT="./storage/datasets"
PORT=4000
START_WORKER=true
NEXT_PUBLIC_API_URL="http://localhost:4000"
